In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd
#df = pd.read_csv('/content/drive/MyDrive/datos/data.csv')
#df = pd.read_csv('https://raw.githubusercontent.com/AlejandroLabra/Inteligencia-Artificial/main/Inteligencia%20Artificial/KNN-SVM/data.csv')
df = pd.read_csv('/content/data.csv')
df.head(5)

,Rank,Name,Unnamed: 2,Platform,Metascore,Date,Title,Unnamed: 7
0,1,The Legend of Zelda: Ocarina of Time,NaN,Nintendo 64,99,23-Nov-98,"As a young boy, Link is tricked by Ganondorf, ...",NaN
1,2,Tony Hawk's Pro Skater 2,NaN,PlayStation,98,20-Sep-00,As most major publishers' development efforts ...,NaN
2,3,Grand Theft Auto IV,NaN,PlayStation 3,98,29-Apr-08,[Metacritic's 2008 PS3 Game of the Year; Also ...,NaN
3,4,SoulCalibur,NaN,Dreamcast,98,8-Sep-99,"This is a tale of souls and swords, transcendi...",NaN
4,5,Grand Theft Auto IV,NaN,Xbox 360,98,29-Apr-08,[Metacritic's 2008 Xbox 360 Game of the Year; ...,NaN

In [7]:
X = df.iloc[:,1:-1]
X.head(5)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Unnamed: 2  0 non-null      float64
 2   Platform    100 non-null    object
 3   Metascore   100 non-null    int64
 4   Date        100 non-null    object
 5   Title       100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [13]:
y = df['Metascore']
y.head(5)

0    99
1    98
2    98
3    98
4    98
Name: Metascore, dtype: int64

In [15]:
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [ ]:
svm = SVC()
svm_scores = cross_val_score(svm, X, y, cv=5, scoring='accuracy')
svm_scores.mean()

In [ ]:
knn = KNeighborsClassifier()
knn_scores = cross_val_score(knn, X, y, cv=5, scoring='accuracy')
knn_scores.mean()